<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/author.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
     <div class="center">
        <div class="flex">
            <div class="header">
                <div class="author">
                    <h2 class="auth">Authors</h2>
                </div>
                <div class="list">
                    <ul class="ul">
                        <li class="li"><a href="author" class="a">A Boogie wit da Hoodie</a></li>
                        <li class="li"><a href="authortwo" class="a">A. P. J. Abdul Kalam</a></li>
                        <li class="li"><a href="authorthree" class="a">Abraham Lincoln</a></li>
                        <li class="li"><a href="" class="a">Abraham Maslow</a></li>
                        <li class="li"><a href="" class="a">Adam Sandler</a></li>
                        <li class="li"><a href="" class="a">Adam Smith</a></li>
                        <li class="li"><a href="" class="a">Aeschylus</a></li>
                        <li class="li"><a href="" class="a">Aesop</a></li>
                        <li class="li"><a href="" class="a">Alan Watts</a></li>
                        <li class="li"><a href="" class="a">Albert Camus</a></li>
                        <li class="li"><a href="" class="a">Albert Einstein Favorite</a></li>
                        <li class="li"><a href="" class="a">Bad Bunny</a></li>
                        <li class="li"><a href="" class="a">Barack Obama</a></li>
                        <li class="li"><a href="" class="a">Baruch Spinoza</a></li>
                        <li class="li"><a href="" class="a">Bear Bryant</a></li>
                    </ul>
                </div>
            </div>
            <div class="box-quotes">
                <div class="quotes">
                    <h2 class="quo">Quotes of the day</h2>
                </div>    
                <div class="quotes-one-by-one">
                       <div class="onequotes">
                           <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                           <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                       </div>
                       <div class="onequotes">
                        <h2 class="everything">My mom is proud of me. My pops proud of me. Everybody keeps motivating me. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Being self-made means putting yourself in position to help others put themselves in position to be successful.</h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>

                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                    <div class="onequotes">
                        <h2 class="everything">Everything I do is me. I don't like taking ideas from people unless they're the G.O.A.T. </h2>
                        <a href="" class="auth-href">A. P. J. Abdul Kalam</a>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</body>
</html>